* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Dark theme */
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  margin-bottom: 20px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out; /* Animation for header */
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  transition: color 0.3s; /* Transition for color change */
  color: #c7253e;
}

header p {
  margin-bottom: 15px;
  font-size: 1.2em;
  color: #e85c0d;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 300px;
  transition: width 0.3s; /* Transition for input field */
}

.search-bar input:focus {
  width: 350px; /* Expand input field on focus */
}

.search-bar button {
  padding: 10px;
  background-color: #e85c0d; /* Button color */
  color: #ffffff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s; /* Transition for button hover */
}

.search-bar button:hover {
  background-color: #c7253e; /* Change button color on hover */
}

.search-bar button i {
  margin: 0; /* Remove margin from icon */
}

.blog-posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-post {
  background-color: #1e1e1e; /* Card background color */
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.3s; /* Animation for card hover */
}

.blog-post:hover {
  transform: scale(1.02); /* Scale effect on hover */
}

.blog-post img {
  width: 100%; /* Responsive image */
  height: auto;
  border-radius: 8px;
}

.blog-post h2 {
  margin-bottom: 10px;
  color: #c7253e;
}

.blog-post .date {
  font-size: 0.9em;
  color: #c7253e; /* Date color */
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background-color: #e85c0d; /* Button color */
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s; /* Transition for button hover */
}

.read-more:hover {
  background-color: #c7253e; /* Change button color on hover */
}

@media (min-width: 768px) {
  .blog-posts {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
  }

  .blog-post {
      flex: 1 1 calc(33.333% - 20px); /* 3 columns */
  }
}

/* Keyframe for header fade-in animation */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
